@import "tailwindcss";

:root {
    --cor-principal: #ff66b2;
    --cor-secundaria: #ff9ad3;
    --cor-fundo: #1e1e1e;
    --cor-card: #2a2a2a;
}

body {
    background-color: var(--cor-fundo);
    color: white;
}

.bg-principal {
    background-color: var(--cor-principal);
}

.bg-card {
    background-color: var(--cor-card);
}

.text-principal {
    color: var(--cor-principal);
}

.border-principal {
    border-color: var(--cor-principal);
}